<nav>
  <h4>Node MySQL</h4>
  <ul>

    <li>
      <form action="/auth/logout" method="get">
        <button type="submit" name="logout">Logout</button>
      </form></a>
    </li>
  </ul>
</nav>
<div class="card" style="width: 30rem; ">
  <img src="https://th.bing.com/th/id/OIP.ufKSde4qETHZANkrdqDMJAHaEo?w=292&h=182&c=7&o=5&dpr=1.25&pid=1.7"
    class="card-img-top" alt="dog">
  <div class="card-body">
    <h5 class="card-title">Welcome {{name}}</h5>
    <p class="card-text">Welcome this website, nothing to do, just give a picture of a dog^_^
    <p>
  </div>

  <form action="/auth/logout" method="get">
    <button type="submit" name="logout">Logout</button>
  </form>
</div>